pytz
certifi
cffi
chardet
Click
cryptography
idna
isodate
itsdangerous
oauthlib
pyaml
pycparser
PyJWT
python-dateutil
requests
requests-oauthlib
six
cachelib
urllib3
wincertstore
Flask
werkzeug
uuid
msal
flask_socketio
eventlet
greenlet
pyopenssl