<div id="modals"></div>

<!-- Header -->
<small><b>Libyano Tech - Test App</b></small><br>

<center>
<h1> Hello :)</h1>
<h2> Testing Welcome</h2>
<img src="https://www.mandysam.com/img/random.jpg"/>
<table>
   <tr> 
     <th>Name</th>  
     <th>Color</th>
     <th>Age</th>
   </tr>
   <tr>
     <td>Daz</td>
     <td>Orange</td>
     <td>3</td>
   </tr>
   <tr>
     <td>Stimpy</td>
     <td>Red & White</td>
     <td>5</td>
   </tr>
   <tr>
     <td>Cheshire Cat</td>
     <td>Purple</td>
     <td>71</td>
   </tr>
   <tr>
    <td>Cheshire Cat</td>
    <td>Purple</td>
    <td>71</td>
  </tr>   <tr>
    <td>Cheshire Cat</td>
    <td>Purple</td>
    <td>71</td>
  </tr>   <tr>
    <td>Cheshire Cat</td>
    <td>Purple</td>
    <td>71</td>
  </tr>   <tr>
    <td>Cheshire Cat</td>
    <td>Purple</td>
    <td>71</td>
  </tr>
 </table>
   {% include 'includes/footer.html' %}
</center>
</div>

<!-- Pipeline List End-->
